html, body, #map_canvas { 
	height: 100%; 
	width: 100%;
	padding:0;
	margin:0;

	overflow: hidden; 
	}

.reset-box-sizing,.reset-box-sizing *,.reset-box-sizing *:before,.reset-box-sizing *:after {  -webkit-box-sizing: content-box;

     -moz-box-sizing: content-box;

          box-sizing: content-box;

}	

#saannav a:link, a:visited, a:hover, a:active{
color: #ffffff !important;
}

#legendCont{position: absolute;
bottom: 0px;
width:100%;
}

.boxDiv{
z-index:99;
overflow-x: hidden;

}

.boxes-panel{padding: 2%;
margin:0;
}

#boxContent{
}

#trueLegendContent{
float: left;
font-size: small;
}

.legendIcon{
display:inline-block;
}

.legendIcon img{
height: 15px;
vertical-align: text-top;
padding-right: 1em;
}

.boxes{margin: 10px;
margin-top: 0px !important;
margin-left: 0px !important;
position:relative;
}

#closeIcon{
padding: 0px;
position: absolute;
top:4px;
right:10px;
}

.mode-icon{
text-align: center;
display:inline-block;
vertical-align:middle;
;
}
	
#map_container, #map_row, #map_col{

height: 100%;

}

#infoCont{position: absolute;

top: 15px;

width: 100%;



}
	
#map_container{
height: 100%;

width: 100%;

padding:0;

}

.content_cell{
z-index:100;
}

#info_panel{

}