html,
body,
#map {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.navbar-inverse span.navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
#legendCont {
  bottom: 10px;
  padding-left: 10px;
  position: absolute;
  width: 100%;
}
.boxDiv {
  overflow-x: hidden;
  z-index: 99;
}
.boxes-panel {
  margin: 0;
  padding: 2%;
}
#trueLegend-panel {
  border-color: transparent;
}
#trueLegendContent {
  float: left;
  font-size: small;
  margin-bottom: 0;
  min-width: 250px;
}
.legendIcon {
  display: inline-block;
}
.legendIcon img {
  height: 15px;
  padding-right: 1em;
  vertical-align: text-top;
}
.boxes {
  margin: 10px;
  margin-left: 0 !important;
  margin-top: 0 !important;
  position: relative;
}
#buttonCloseLegend {
  padding: 0;
  position: absolute;
  right: 10px;
  top: 4px;
}
.mode-icon {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
#map-container,
#map-container .row,
#map-container .row .col-md-12 {
  height: 100%;
}
#infoCont {
  position: absolute;
  top: 15px;
  width: 100%;
}
#map-container {
  padding: 0;
  width: 100%;
}
.content_cell {
  z-index: 100;
}
.navbar-right {
  margin: 0 !important;
}
#trueLegendButton {
  display: none;
}
